<h1 class="title">Welcome to the Etaure Market Place Plus</h1>

<div class="forms">
    <!-- SIGN IN -->
    <form action="">
        <fieldset>
            <legend>Sign in</legend>
    
            <div class="input-field">
                <label for="email">E-mail:</label>
                <input class="input-field__input" type="email" name="email" id="email">
            </div>
    
            <div class="input-field">
                <label for="password">Password:</label>
                <input class="input-field__input" type="password" name="password" id="password">
            </div>
        </fieldset>
    
        <input class="forms__inner-form__submit" type="submit" value="Sign In">
    </form>
    
    <!-- SIGN UP -->
    <form action="">
        <fieldset>
            <legend>Sign up</legend>
    
            <div class="input-field">
                <label for="email">E-mail:</label>
                <input class="input-field__input" type="email" name="email" id="email">
            </div>
    
            <div class="input-field">
                <label for="password">Password:</label>
                <input class="input-field__input" type="password" name="password" id="password">
            </div>
            <div class="input-field">
                <label for="repeat-password">Repeat the Password:</label>
                <input class="input-field__input" type="password" name="repeat-password" id="repeat-password">
            </div>
        </fieldset>
    
        <input class="forms__inner-form__submit" type="submit" value="Sign Up">
    </form>
</div>